* {
  box-sizing: border-box;
  margin: 0px;
}

.container p:first-child {
  background-color: red;
}

.container p:first-of-type {
  background-color: blue;
}

.container p:last-child {
  background-color: yellow;
}
